<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="PressureAppDB"
     providerName="System.Data.ProviderName"
     connectionString="Server=.\mssqllocaldb;Database=Pressure;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key ="MaxVoltage" value = "4.24"/>
    <add key ="ArduinoMaxVoltage" value = "54"/>
    <add key ="BARMax" value = "16"/>
    <add key ="ArduinoTotalIntervals" value = "1024"/>
    
    <add key ="OutputDestinationFolder" value = "C\temp\PressureApp\Output\"/>
    <add key ="BatchSize" value = "100"/>
    <add key ="ReadFrequencyInMilliseconds" value = "1000"/>
  </appSettings>
</configuration>